*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
  For dark theme the color of the main is black
 */
.dark-theme {
  background-color: #242d52;
  color: #fafafa;
}

/*
  For the light theme the color of the main is blue
 */
.light-theme {
  background-color: #fafafa;
  color: #242d52;
}
.light-theme-btn {
  background-color: #eba06d !important;
  border-color: #eba06d !important;
  color: #242d52;
}

.dark-theme-btn {
  background-color: #0c998b !important;
  border-color: #0c998b !important;
  color: #242d52;
}

a {
  text-decoration: none;
  color: #242d52;
}

h1 {
  /* color: #242d52; */
  font-family: Spartan, sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 0;
}

h2 {
  /* color: #242d52; */
  font-family: Spartan, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

h3 {
  font-family: Spartan, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.225px;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.main-title {
  margin-top: 1.5rem;
}

.semi-bold {
  font-family: Spartan, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
}

.semi-bold-1 {
  font-family: Spartan, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
}

main {
  padding: 0rem 2rem;
  /* background-color: #242d52; */
  /* background-color: black; */
  /* background-color: #98f089; */
  background-color: #6db8eb;
  /* background-color: black; */
}

.custom-navbar {
  position: fixed;
  width: 100%;
  /* background-color: #fafafa; */

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);

  color: #242d52;
}

.navbar-content {
  margin: 0 auto;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.navbar-links {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}
.theme-btn {
  background-color: #fafafa;
  border: none;
}

.theme-btn-sun {
  display: block;
}

.theme-btn-moon {
  display: none;
}
.navbar-links li {
  text-decoration: none;
  list-style: none;
}
.navbar-links li:not(:last-child) {
  margin-right: 2rem;
}

.main-logo {
  display: flex;
  flex-direction: row;
}
.main-section {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
}

.profile-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* background-color: #fafafa; */
}

.profile-info {
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #fafafa;
  color: #242d52; */
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

/* .percent-info {
  background-color: #fafafa;
} */

.profile-pic {
  margin: 3.5rem 0;

  /* padding: 5rem; */
  /* background-color: #f25f3a; */
  /* background-color: #fafafa; */
}

.profile-pic img {
  display: block;
  /* width: 100%; */
  max-width: 200px;

  background-color: #eba06d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /* width: 128px; */
  /* height: 128px; */
}

.profile-desc {
  text-align: center;
}

.profile-desc-name {
  margin-bottom: 3rem;
}

.weight-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.change-weight-btn {
  margin-top: 2.5rem;
}

.info-section {
  padding: 0 3rem;
  width: 50%;
  text-align: center;
}

.info-section-col {
  /* color: #242d52;
  background-color: #fafafa; */
  /* background-color: #242d52; */
  /* color: #fafafa; */
  /* border: 1.5px solid #000; */
  border-radius: 8px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.info-section-col-1-title {
  margin-bottom: 3rem;
}

.calorie-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calorie-count {
  margin-bottom: 1.5rem;
}

.custom-progress {
  width: 50%;
}

.percent-info {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

.quick-tools {
  width: 25%;
  /* padding: 0 3rem; */
  /* padding-left: 3rem; */
}

.quick-tools-col {
  /* color: #242d52;
  background-color: #fafafa; */
  /* background-color: #242d52; */
  /* color: #fafafa; */
  width: 100%;
  /* height: 200px; */
  /* background-color: #9095a7; */
  padding: 2rem;

  /* border: 1px solid #000; */
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.quick-tools-col:not(:last-child) {
  margin-bottom: 1.5rem;
}

.quick-add-btn {
  margin-top: 2.5rem;
  /* background-color: #eba06d !important;
  border-color: #eba06d !important;
  color: #242d52 !important; */
}

.macro-nutrients-chart-wrapper {
  width: 100%;
  height: 400px;
}

.custom-select {
  width: 25%;
}

/* Keyframes */
